.form-frame {
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 70px;
  border: 3px solid #CFBDEF;
  background-color: #CFBDEF;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.space{
  margin-top: 50px;
}

.space1{
  margin-top: 15px;
  margin-bottom: 25px;
  border-radius: 30px;
}

.text1{
  font-size: 17px;
  font-weight: bold;
  color: #7900C8;
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border:none;
  border-radius: 0.5rem;
  background: #7900C8;
  transition:all 100ms ease-out;
  height: 40px;
  width: 80px;
  
}

.button:hover{
  cursor: pointer;
  color: #7900C8;
  background: transparent;
  border: 2px solid #7900C8;
}